*.pdf
*.ipch
*.db
*.json
*.sqlite
*.exe
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.obj
*.enc
*.log
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.xml
*.suo
*.opendb
*.one
*.onetoc2


TP/TP4/fichierstp4/TP4_1837067_1894296/
